.Champion__cards__container {
	max-width: 1600px;
	padding: 1rem;
	margin: 0 auto;
}

.Cards {
	margin-top: 3rem auto 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 2rem;
}
.One__card {
	width: 18%;
	list-style: none;
}
.Cards::after {
	content: "";
	flex-basis: 18%;
	flex-grow: 1;
}
.Cards > :nth-last-child(-n + 3) {
	margin-left: auto;
}
.OneChamp__card a img {
	width: 100%;
}

.OneChamp__card {
	position: relative;
}
.OneChamp__card:hover span {
	background-color: #437987;
}
.OneChamp__card span {
	position: absolute;
	color: white;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: rgb(75, 106, 97);
	width: 100%;
	text-transform: uppercase;
	font-style: italic;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 1.3rem;
	transition: 0.3s;
}
