.champions-cards-list {
	display: flex;
	flex-wrap: wrap;
	padding: 1rem;
	gap: 1rem;
}
.one-card-container {
	width: 45%;
	list-style: none;
	position: relative;
	margin-bottom: 1rem;
}
.card-img-container a img {
	width: 100%;
}
.card-img-container span {
	position: absolute;
	left: 0;
	bottom: 0;
	color: white;
	background-color: rgb(75, 106, 97);
	width: 100%;
	padding-left: 0.3rem;
	transition: 0.4s;
	font-size: 1.1rem;
	font-style: italic;
	letter-spacing: 2px;
}
.card-img-container:hover span {
	background-color: #437987;
}
.not-found {
	margin: 0 auto;
	padding: 0.5rem;
}
@media only screen and (min-width: 1024px) {
	.champions-list-container {
		max-width: 1600px;
		padding: 1rem;
		margin: 0 auto;
	}
	.one-card-container {
		width: 19%;
		margin-bottom: 3rem;
	}
	.card-img-container span {
		bottom: -5%;
		font-size: 2rem;
	}
	.not-found {
		font-size: 3rem;
		padding: 3rem;
	}
}
