.imgs-container {
	position: relative;
}

.blur-img {
	filter: blur(6px) brightness(0.4);
	max-width: 100%;
	height: 50vh;
}

.main-img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	height: 50%;
}

.champion-title-container {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 0.2rem;
	letter-spacing: 2px;
}
.champion-title-container h2 {
	letter-spacing: 5px;
	font-style: italic;
}

.left-container {
	display: flex;
	justify-content: space-around;
	padding: 1rem;
}
.role,
.level {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40%;
}
.border {
	width: 2px;
	background-color: rgba(19, 216, 246, 0.4);
	height: auto;
}
.right-container {
	padding: 0.4rem;
	font-size: 0.8rem;
	text-align: center;
}

.back-btn {
	cursor: pointer;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 41;
	padding: 0.3rem;
	border: none;
	background: rgba(19, 216, 246, 0.4);
	color: antiquewhite;
	font-size: 0.7rem;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-decoration: none;
	overflow: hidden;
	transition: 0.2s;
}
.back-btn:hover {
	color: #255784;
	background: #13d8f6;
	box-shadow: 0 0 10px #13d8f6, 0 0 40px rgb(33, 150, 243), 0 0 80px #13d8f6;
	transition-delay: 1s;
}
.back-btn span {
	position: absolute;
	display: block;
}
.back-btn span:nth-child(1) {
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent, #13d8f6);
}
.back-btn:hover span:nth-child(1) {
	left: 100%;
	transition: 1s;
}
.back-btn span:nth-child(3) {
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg, transparent, #13d8f6);
}
.back-btn:hover span:nth-child(3) {
	right: 100%;
	transition: 1s;
	transition-delay: 0.5s;
}
.back-btn span:nth-child(2) {
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg, transparent, #13d8f6);
}
.back-btn:hover span:nth-child(2) {
	top: 100%;
	transition: 1s;
	transition-delay: 0.25s;
}
.back-btn span:nth-child(4) {
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg, transparent, #13d8f6);
}
.back-btn:hover span:nth-child(4) {
	bottom: 100%;
	transition: 1s;
	transition-delay: 0.75s;
}

@media only screen and (min-width: 1024px) {
	.back-btn {
		font-size: 2rem;
		top: 5%;
	}
	.blur-img {
		width: 100%;
		height: 100vh;
	}
	.main-img {
		top: 50%;
		width: 70%;
		height: 80%;
	}
	.champion-title-container {
		bottom: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-style: italic;
	}
	.champion-title-container span {
		font-size: 2.2rem;
	}
	.champion-title-container h2 {
		font-size: 7rem;
		padding: 0 1rem;
		letter-spacing: 1.2rem;
	}
	.champion-description-container {
		margin: 0 auto;
		font-size: 0.8rem;
		width: 70%;
		padding: 2rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.champion-description-container > div {
		width: 35%;
	}
	.left-container {
		padding: 0.5rem;
		align-items: center;
		justify-content: space-between;
	}
	.right-container {
		position: relative;
		font-size: 1rem;
	}
	.right-container::after {
		content: "";
		position: absolute;
		top: 0;
		left: -50%;
		background-color: #ffffcb;
		width: 1px;
		height: 100%;
	}
	.role,
	.level {
		align-items: center;
		font-size: 1.2rem;
	}

	.level span,
	.role span {
		padding: 0.4rem;
	}
}
