.header-container {
	min-height: 100vh;
}

.header-container video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.header-container::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 1;
}
.game-description {
	width: 100%;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 2rem;
	text-align: center;
	z-index: 23;
}
.game-description h2 {
	font-size: 3rem;
	letter-spacing: 3px;
	font-style: italic;
	margin: 4rem auto;
}
.game-description span {
	display: block;
	font-size: 1.1rem;
}

.scroll-button button {
	cursor: pointer;
	position: absolute;
	bottom: 0%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 41;
	padding: 1rem;
	border: none;
	background: rgba(19, 216, 246, 0.4);
	color: antiquewhite;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-decoration: none;
	overflow: hidden;
	transition: 0.2s;
}
.scroll-button button:hover {
	color: #255784;
	background: #13d8f6;
	box-shadow: 0 0 10px #13d8f6, 0 0 40px rgb(33, 150, 243), 0 0 80px #13d8f6;
	transition-delay: 1s;
}
.scroll-button button span {
	position: absolute;
	display: block;
}
.scroll-button button span:nth-child(1) {
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent, #13d8f6);
}
.scroll-button button:hover span:nth-child(1) {
	left: 100%;
	transition: 1s;
}
.scroll-button button span:nth-child(3) {
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg, transparent, #13d8f6);
}
.scroll-button button:hover span:nth-child(3) {
	right: 100%;
	transition: 1s;
	transition-delay: 0.5s;
}
.scroll-button button span:nth-child(2) {
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg, transparent, #13d8f6);
}
.scroll-button button:hover span:nth-child(2) {
	top: 100%;
	transition: 1s;
	transition-delay: 0.25s;
}
.scroll-button button span:nth-child(4) {
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg, transparent, #13d8f6);
}
.scroll-button button:hover span:nth-child(4) {
	bottom: 100%;
	transition: 1s;
	transition-delay: 0.75s;
}

.title {
	text-align: center;
	padding: 0.6rem;
}
.title h1 {
	text-transform: uppercase;
	font-size: 1.5rem;
	letter-spacing: 5px;
}
.title h1 span {
	display: block;
	font-style: italic;
	font-size: 3rem;
}
.title p {
	font-size: 0.8rem;
	line-height: 1.7rem;
	max-width: 500px;
	margin: 0 auto;
}

@media only screen and (min-width: 1024px) {
	.game-description h2 {
		font-size: 3.4rem;
		margin: 0;
	}
	.game-description span {
		display: block;
		padding: 1.5rem;
		width: 600px;
		margin: 0 auto;
		font-size: 1.1rem;
	}
	.scroll-button button {
		bottom: 20%;
		font-size: 2rem;
	}
	.title {
		padding: 1rem;
	}
	.title h1 span {
		font-size: 8rem;
	}
	.title p {
		font-size: 1rem;
	}
}
