.spells-container {
    text-align: center;
    padding: 0.4rem;
}
.spells-container h2 {
    padding: 1rem;
}
.spells-img{
    display: flex;
    justify-content: space-around;
}
.spells-description-container {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}

.shadow-img {
	border: 2px solid rgba(19, 216, 246, 0.4);
	box-shadow: 0 0 10px #13d8f6, 0 0 10px rgb(33, 150, 243), 0 0 30px #13d8f6;
}
@media only screen and (min-width: 1024px) {
	h2 {
		font-size: 5rem;
	}
    .spells-img {
		justify-content: center;
		gap: 2rem;
		padding: 2rem;
	}
    .spells-img img {
		cursor: pointer;
		transition: transform 0.3s ease;
	}
    .spells-img img:hover {
		transform: translateY(-20%);
	}
    .spells-description-container {
		margin: 0 auto;
		width: 50%;
	}
    .spell-name {
		font-size: 2.5rem;
	}
    .spell-description {
		padding: 2rem;
		text-transform: none;
		font-size: 1rem;
		text-align: center;
	}
}